.Bdrs\(1rem\) {
  border-radius: 1rem;
}
.Bgc\(gray\) {
  background-color: gray;
}
.Bgc\(orange\) {
  background-color: orange;
}
.Bgc\(purple\) {
  background-color: purple;
}
.H\(4rem\) {
  height: 4rem;
}
.W\(100\%\) {
  width: 100%;
}
