.Bgc\(red\) {
  background-color: red;
}
.D\(f\) {
  display: flex;
}
.Fxd\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(c\) {
  justify-content: center;
}
.H\(10rem\) {
  height: 10rem;
}
.H\(15rem\) {
  height: 15rem;
}
.Mt\(10rem\) {
  margin-top: 10rem;
}
.W\(10rem\) {
  width: 10rem;
}
.W\(15rem\) {
  width: 15rem;
}
