.Bdrs\(1rem\) {
  border-radius: 1rem;
}
.Bgc\(orangered\) {
  background-color: orangered;
}
.D\(f\) {
  display: flex;
}
.Fxd\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.H\(10rem\) {
  height: 10rem;
}
.Mt\(10rem\) {
  margin-top: 10rem;
}
.T\(10\) {
  top: 10;
}
.T\(10rem\) {
  top: 10rem;
}
.T\(16rem\) {
  top: 16rem;
}
.Pos\(a\) {
  position: absolute;
}
.W\(100\%\) {
  width: 100%;
}
.W\(10rem\) {
  width: 10rem;
}
