.btn.red{
    padding: 1rem;
    background-color: rebeccapurple;
}

.red{
    background-color: red;
}


.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.item{
    width: 4rem;
    height: 4rem;
    background: rebeccapurple;
    opacity: .3;
}